services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: prac
      POSTGRES_USER: prac
      POSTGRES_PASSWORD: prac
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - appnet

  pgadmin:
    image: dpage/pgadmin4:8
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - appnet

  backend:
    image: ghcr.io/valeriiakharitonova/dev/film-react-nest-backend:latest
    build:
      context: ./backend
    environment:
      DATABASE_DRIVER: postgres
      DATABASE_HOST: postgres
      DATABASE_PORT: "5432"
      DATABASE_NAME: prac
      DATABASE_USERNAME: prac
      DATABASE_PASSWORD: prac
      DEBUG: "*"
    depends_on:
      - postgres
    networks:
      - appnet
    ports:
      - "3000:3000"

  frontend:
    image: ghcr.io/lirav/film-react-nest--frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
    networks:
      - appnet

volumes:
  pg_data:
  pgadmin_data:
  frontend_dist:

networks:
  appnet: